{% extends 'web/partials/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="about-style-one-area default-padding">

    <!-- Shape -->
    <div class="shape-right-top">
        <img src="{% static 'web/img/shape/leaf.png' %}" alt="Image not found">
    </div>
    <!-- End Shape -->

    <div class="container">
        <div class="row align-center">
            <div class="col-xl-5 col-lg-6 about-style-one pr-50 pr-md-15 pr-xs-15">
                <div class="thumb">
                    <img src="{% static 'web/img/about1.png' %}" alt="Image Not Found">
                    <div class="sub-item">
                        <img src="{% static 'web/img/aboutusimage.png' %}" alt="Image Not Found">
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6 about-style-one">
                <div class="row align-center">
                    <div class="col-xl-9 col-lg-12">
                        <h2 class="heading">Agriculture For <br> Future Development</h2>
                        <p>
                            In an ever-changing world with growing environmental concerns, agriculture plays a crucial role in shaping the future of development. Embracing plant gardens as a sustainable agricultural practice opens up a realm of possibilities for fostering ecological balance, promoting security, and enhancing overall well-being.


                        </p>
                        <ul class="check-solid-list mt-20">
                            <li>Environmental Stewardship</li>
                            <li>Green Spaces for Mental Health</li>
                            <li>Ecosystem Services</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About -->

<div class="choose-us-style-one-area overflow-hidden">
    <div class="container">
        <div class="row align-center">

            <div class="col-lg-6 choose-us-style-one">
                <h2 class="title">Agriculture matters to the future of development</h2>
                <p> Welcome to Chirayil Agro gardens, a trusted family-owned business with a remarkable legacy,
                    landscaping, and garden supplies industry. Our passion for plants and flowers runs deep, and we take
                    immense pride in our extensive inventory.<br>

                    We are dedicated to delivering excellence in every aspect of our service. That's why we are
                    committed to offering high-quality products at competitive prices, combined with exceptional
                    customer service that goes above and beyond.</p>
                    <p> We understand the unique needs of our customers,
                    whether they are seasoned professionals in the horticulture industry or enthusiastic beginner
                    gardeners.

                    At Chirayil Agro gardens, we are eager to serve you with our core values at the
                    forefront:


                    Thank you for finding us, and we are thrilled to embark on this gardening adventure together with
                    you!</p>

            </div>
            <div class="col-lg-6 choose-us-style-one img1">
                <div class="thumb">
                    <img src="{% static 'web/img/about1.jpg' %}" alt="Image Not Found">

                </div>


            </div>
        </div>
        </div>
    </div>
</div>

<!-- Start Food Order Process
    ============================================= -->
<div class="process-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 process-style-one">
                <h5 class="sub-title">Order process</h5>
                <h2 class="title">Order Now and<br>Experience Nutrient-rich Plants</h2>
                <div class="call-to-action mt-45">
                    <div class="icon">
                        <i class="fas fa-user-headset"></i>
                    </div>
                    <div class="info">
                        <span>Get quick support</span>
                        <h4><a href="tel:8589993015">8589993015</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 process-style-one">
                <div class="row">
                    <div class="shape">
                        <img src="{% static 'web/img/shape/35.webp' %}" alt="Image Not Found">
                    </div>

                    <div class="col-lg-4">
                        <div class="nav nav-tabs order-process-tab-navs" id="nav-tab" role="tablist">
                            <button class="nav-link" id="nav-id-1" data-bs-toggle="tab" data-bs-target="#tab1"
                                type="button" role="tab" aria-controls="tab1" aria-selected="true">
                                <span>Process - 01 </span>
                                <strong>Home Delivery</strong>
                            </button>
                            <button class="nav-link active" id="nav-id-2" data-bs-toggle="tab" data-bs-target="#tab2"
                                type="button" role="tab" aria-controls="tab2" aria-selected="false">
                                <span>Process - 02 </span>
                                <strong>Live Purchase</strong>
                            </button>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="tab-content order-process-tab-content" id="nav-tabContent">
                            <!-- Single Item -->
                            <div class="tab-pane fade" id="tab1" role="tabpanel" aria-labelledby="nav-id-1">
                                <h3 class="title">Get products from home</h3>
                                <p>
                                    we are thrilled to offer you the opportunity to get plants delivered right to your doorstep, bringing nature's beauty and freshness directly into your home. Embrace the joy of gardening and transform your living spaces with our wide selection of lush greenery, colorful flowers, and aromatic herbs.
                                </p>
                                <ul>
                                    <li>Easy Online Ordering</li>
                                    <li>Personalized Recommendations</li>
                                </ul>
                            </div>
                            <!-- End Single Item -->

                            <!-- Single Item -->
                            <div class="tab-pane fade show active" id="tab2" role="tabpanel" aria-labelledby="nav-id-2">
                                <div class="row align-center">
                                    <h3 class="title">Collect plants from Garden</h3>
                                    <p>
                                        At our lush and abundant garden, we invite you to experience the joy of hand-selecting and collecting a variety of exquisite plants. Wander through the winding paths, amidst vibrant blooms and verdant foliage, and uncover the beauty and diversity that nature has to offer.
                                    </p>
                                    <ul>
                                        <li>Quality Assurance</li>
                                        <li>Expert Advice</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Single Item -->

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Food Order Process -->

<!-- Start Testimonials 
    ============================================= -->
    <div class="testimonials-area default-padding bg-gray"
    style="background-image: url({% static 'web/img/shape/23.png' %});">
    <div class="container">
      
       <div class="row align-center testimonial"> 
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="site-heading text-center">
                            <h5 class="sub-title">Our Testimonials</h5>
                            <h2 class="title">Life Flourishes with Every Leaf</h2>
                            <div class="devider"></div>
                        </div>
                    </div>
                </div>
            </div>
            <center>
            <div class="col-lg-10 offset-lg-1">
                

                <div class="testimonial-carousel testimonial-style-one swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper align-center">
                        <!-- Single item -->

                        {% for testimonial in testimonial %}

                        <div class="swiper-slide">
                            <div class="testimonial-style-two">

                                <div class="item">
                                    <div class="content">
                                        <p>
                                            “{{testimonial.review}}”
                                        </p>
                                    </div>
                                    <div class="provider">
                                        <div class="info">
                                            <h4>{{testimonial.person_name}}</h4>
                                            <span>{{testimonial.person_post}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </center>
        </div>
    </div>
</div>
<!-- End Testimonials -->

<!-- Start Why Choose Us 
    ============================================= -->
<div class="choose-us-style-one-area overflow-hidden default-padding">
    <div class="container">
        <div class="row align-center">
            <div class="col-lg-6 choose-us-style-one">
                <div class="thumb">
                    <img src="{% static 'web/img/faq.png' %}" alt="Image Not Found">
                    <div class="shape">
                        <img class="wow fadeInDown" src="{% static 'web/img/shape/22.png' %}" alt="Image not found">
                    </div>
                    <div class="product-produce">
                        <div class="icon">
                            <i class="flaticon-farmer"></i>
                        </div>
                        <div class="fun-fact">
                            <div class="counter">
                                <div class="timer" data-to="258" data-speed="2000">258</div>
                                <div class="operator">K</div>
                            </div>
                            <span class="medium">Agriculture, Organic Plants</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 choose-us-style-one">
                <h5 class="sub-title">Get to know us</h5>
                <h2 class="title">Frequently Asked Questions</h2>
                <div class="accordion accordion-regular mt-35" id="faqAccordion">

                    <div class="accordion-item">
                        {% for faq in faq %}
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                            <button class="{% if forloop.first %} accordion-button  {%else %} accordion-button  collapsed {% endif %}" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse{{ forloop.counter }}" {% if forloop.first %} aria-expanded="true" {%else %} aria-expanded="false" {% endif %} aria-controls="collapse{{ forloop.counter }}">
                              {{ faq.question }}
                            </button>
                          </h2>
                          <div id="collapse{{ forloop.counter }}"
                            class="accordion-collapse collapse {% if forloop.first %} show {% endif %}"
                            aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                              <p>
                                {{ faq.answer }}
                              </p>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                  </div>
            </div>
        </div>
    </div>
</div>
<!-- End Why Choose us -->

{% endblock %}