
{% extends 'web/partials/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="blog-area single full-blog full-blog mt-5 mb-5 pb-5">
        <div class="container">
            <div class="blog-items">
                <div class="row d-flex justify-content-center">
                    
                    <div class="blog-content col-lg-7 col-md-12">
                        <h3 class="pb-4">{{updates.update_head}}
                        </h3>
                        <div class="blog-style-two item">
                            <div class="thumb">
                                <img src="{{updates.update_image.url}}" alt="Thumb">
                                <div class="date"><strong>{{updates.day}}</strong> <span>{{updates.month}}</span></div>
                            </div>
                            <div class="info">
                                <p>{{updates.description|safe}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}