{% extends 'web/partials/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<body>
    <!-- Start Banner Area
    ============================================= -->
    {% for banner in banner %}
    <div class="home">
        <video muted loop autoplay>
            <source src="{{ banner.banner_video.url }}" type="video/mp4">
        </video>
        <div class="home-content">
            <div class="content">
                <h2 class="banner_content">{{banner.banner_content}}</h2>
                <p class="bannerp text-light">{{banner.subhead}}</p>
                <div class="button">
                    <a class="btn btn-theme secondary btn-sm radius animation" href="{% url 'web:shop' %}">Discover
                        More</a>
                </div>
            </div>
        </div>
    </div>


    {% endfor %}



    <!-- Start Product Features
    ============================================= -->
    <div class="product-feature-style-one-area overflow-hidden pt-5 pb-5">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-5 mb-xs-50 mb-md-120">
                    <div class="product-feature-style-one">
                        <div class="info">
                            <h4 class="sub-title">{% translate 'Growing Green, Harvesting Health' %}</h4>
                            <h2 class="title mb-25">
                                We’re Best Agriculture <br />
                                & Organic Firms
                            </h2>
                            <p>
                                {% blocktrans %} Welcome to our Organic Plants Garden, where nature's goodness
                                thrives and sustainable practices flourish. At our garden, we
                                embrace the principles of organic farming and gardening to
                                provide you with the healthiest, most nourishing plants while
                                protecting the environment. We prioritize the well-being of
                                our soil, enriching it with natural compost, organic matter,
                                and beneficial microorganisms. Healthy soil fosters robust
                                plant growth and enhances nutrient absorption. Discover a
                                fragrant assortment of basil, thyme, mint, and more, perfect
                                for enhancing your culinary creations and soothing your
                                senses.{% endblocktrans %}
                            </p>
                            <a href="https://www.youtube.com/watch?v=ZuzZXT3A1aQ"
                                class="popup-youtube video-play-button with-text mt-15">
                                <div class="effect"></div>
                                <span><i class="fas fa-play"></i> OUR STORY</span>
                            </a>
                            {% comment %}
                            <a class="btn btn-theme btn-md radius animation" href="{% url 'web:about' %}">Discover
                                More</a>
                            {% endcomment %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="product-features-style-one">
                        <img src="{% static 'web/img/home.png' %}" alt="Image Not Found" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Product Features -->

    <!-- Start Services
    ============================================= -->
    <div class="services-style-one-area default-padding bg-gray half-bg-theme">
        <div class="shape-extra">
            <img src="{% static 'web/img/shape/18.png' %}" alt="Image Not Found" />
        </div>
        <div class="container">
            <div class="heading-left">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="left-info">
                            <h5 class="sub-title">What we do</h5>
                            <h2 class="title">
                                Currently we are <br />
                                selling organic plants
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-1">
                        <div class="right-info">
                            <p class="pt-3">
                                Where nature's bounty meets sustainability and health! We take
                                pride in offering a diverse and vibrant selection of
                                organically grown plants, cultivated with love and care, and
                                free from harmful chemicals.
                            </p>
                            {% comment %}
                            <a class="btn btn-theme btn-md radius animation" href="{% url 'web:about' %}">Discover
                                More</a>
                            {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="services-style-one-carousel swiper">
                        <!-- Additional required wrapper -->
                        <div class="row d-flex justify-content-center">
                            {% for category in category %}
                            <div class="col-lg-6 mb-3">
                                <div class="card text-white">
                                    <img src="{{category.image.url}}" class="card-img" heigth="250" alt="..." />
                                    <div class="card-img-overlay">
                                        <h3 class="card-title text-light">
                                            <b>{{category.product_category}}</b>
                                        </h3>
                                        <p class="card-text text-light para">
                                            {{category.description}}
                                        </p>
                                        <div class="button">
                                            <a class="btn btn-theme btn-sm radius animation"
                                                href="{% url 'web:shop_single' category.id %}">View Products</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Services -->

    <!-- Start Product
    ============================================= -->

    <div class="product-style-one-area default-padding-bottom mt-5 pt-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h5 class="sub-title">Customers’ Choice</h5>
                        <h2 class="title">Featured Products</h2>
                        <div class="devider"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="vt-products text-center columns-4">
                        <!-- Single product -->
                        {% for products in products %}
                        <li class="product">
                            <div class="product-contents">
                                <div class="product-image">
                                    <a href="{% url 'web:shop_detail' products.id %}">
                                        <img src="{{products.product_image.url}}" alt="Product" />
                                    </a>
                                </div>
                                <div class="product-caption">
                                    <h4 class="product-title">
                                        <a href="{% url 'web:shop_detail' products.id %}">{{products.product_name}}</a>
                                    </h4>
                                    <div class="product-tags">
                                        <a href="{% url 'web:shop_detail' products.id %}">{{products.product_type}}</a>
                                    </div>
                                    <div class="price">
                                        <span>₹ {{products.price}}</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <center>
                <div class="align-center">
                    <a class="btn btn-theme mt-5 btn-md radius animation" href="{% url 'web:shop' %}">View More</a>
                </div>
            </center>
        </div>
    </div>
    <div class="testimonials-area default-padding bg-gray"
        style="background-image: url({% static 'web/img/shape/23.png' %})">
        <div class="container">
            <div class="row align-center testimonial">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="site-heading text-center">
                                <h5 class="sub-title">Our Testimonials</h5>
                                <h2 class="title">Life Flourishes with Every Leaf</h2>
                                <div class="devider"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <center>
                    <div class="col-lg-10 offset-lg-1">
                        <div class="testimonial-carousel testimonial-style-one swiper">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper align-center">
                                <!-- Single item -->

                                {% for testimonial in testimonial %}

                                <div class="swiper-slide">
                                    <div class="testimonial-style-two">
                                        <div class="item">
                                            <div class="content">
                                                <p>“{{testimonial.review}}”</p>
                                            </div>
                                            <div class="provider">
                                                <div class="info">
                                                    <h4>{{testimonial.person_name}}</h4>
                                                    <span>{{testimonial.person_post}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>
    <!-- End Testimonials -->

    <!-- Start Gallery
    ============================================= -->
    <div class="gallery-style-one-areamt-5 pt-5 mb-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h5 class="sub-title">Awesome Gallery</h5>
                        <h2 class="title">Gallery Of Our Products</h2>
                        <div class="devider"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 gallery-content">
                    <div class="magnific-mix-gallery masonary">
                        <div id="portfolio-grid" class="gallery-items colums-3">
                            <!-- Single Item -->
                            {% for gallery in gallery %}
                            <div class="pf-item">
                                <div class="gallery-style-two">
                                    <img src="{{gallery.gallery_image.url}}" alt="Thumb">
                                    <div class="overlay">
                                        <h4><a href="project-details.html">{{gallery.gallery_content}}</a></h4>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <center>
                    <div class="align-center">
                        <a class="btn btn-theme mt-5 btn-md radius animation" href="{% url 'web:gallery' %}">View
                            More</a>
                    </div>
                </center>
            </div>
        </div>
    </div>
    <!-- End Gallery -->

    <!-- Start Contact Us
    ============================================= -->
    <div class="contact-area bg-gray default-padding">
        <div class="container">
            <div class="row align-center">
                <div class="col-tact-stye-one col-lg-7">
                    <div class="contact-form-style-one mb-md-50">
                        <h5 class="sub-title">Have Questions?</h5>
                        <h2 class="heading">Send us a Massage</h2>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" id="name" name="name" placeholder="Name" type="text"
                                            required />
                                        <span class="alert-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input class="form-control" id="email" name="email" placeholder="Email*"
                                            type="email" required />
                                        <span class="alert-error"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input class="form-control" id="phone" name="phone" placeholder="Phone"
                                            type="text" required />
                                        <span class="alert-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group comments">
                                        <textarea class="form-control" id="comments" name="message"
                                            placeholder="Write your Comment *" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="submit" name="submit" id="submit">
                                        <i class="fa fa-paper-plane"></i> Get in Touch
                                    </button>
                                </div>
                            </div>
                            <!-- Alert Message -->
                            <div class="col-lg-12 alert-notification">
                                <div id="message" class="alert-msg"></div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-tact-stye-one col-lg-5 pl-60 pl-md-15 pl-xs-15">
                    <div class="contact-style-one-info" style="overflow: hidden">
                        <h2>
                            Contact
                            <span>
                                Information
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 150"
                                    preserveAspectRatio="none">
                                    <path
                                        d="M14.4,111.6c0,0,202.9-33.7,471.2,0c0,0-194-8.9-397.3,24.7c0,0,141.9-5.9,309.2,0"
                                        style="animation-play-state: running"></path>
                                </svg>
                            </span>
                        </h2>
                        <p>
                            We are here to provide you with personalized advice, answer your
                            queries about gardening, and help you select the perfect plants
                            for your needs.
                        </p>
                        <ul>
                            <li class="wow fadeInUp">
                                <div class="icon">
                                    <i class="fas fa-phone-alt"></i>
                                </div>
                                <div class="content">
                                    <h5 class="title">Hotline</h5>
                                    <a href="tel:8589993015">8589993015</a><br />
                                    <a href="tel:8725800500">8725800500</a>
                                </div>
                            </li>

                            <li class="wow fadeInUp" data-wow-delay="500ms">
                                <div class="icon">
                                    <i class="fas fa-envelope-open-text"></i>
                                </div>
                                <div class="info">
                                    <h5 class="title">Email Address</h5>
                                    <a href="mailto:chirayilgardens@gmail.com">chirayilgardens@gmail.com</a><br />
                                    <a href="mailto:rehmanmody@gmail.com">rehmanmody@gmail.com</a>
                                </div>
                            </li>
                            <li class="wow fadeInUp" data-wow-delay="300ms">
                                <div class="icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="info">
                                    <h5 class="title">Our Location</h5>

                                    <p class="text-dark">
                                        - Amarachal, Chirayil Chungam-Cherekad Road Chirayil, PO,
                                        Kondotty, Kerala 673638
                                    </p>
                                    <p class="text-dark">
                                        - 004,Chirayil Tower Pandikkad Wandoor Road, Ayanikkode,
                                        Bridge, near Kakkathode, Kerala 676521
                                    </p>
                                    <p class="text-dark">
                                        - 46QP+QC9, Valanchery - Nilambur Rd, Kerala 679327
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact -->

    <!-- Start Blog
    ============================================= -->
    <div class="blog-area blog-grid full-blog pt-5 mb-5 pb-5">
        <div class="container">
            <div class="blog-item-box">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="site-heading text-center">
                            <h5 class="sub-title">Our Updates</h5>
                            <h2 class="title">Latest News and updates</h2>
                            <div class="devider"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Single Item -->
                    {% for updates in updates %}
                    <div class="col-xl-4 col-md-6 single-item">
                        <div class="blog-style-one">
                            <div class="thumb">
                                <a href="{% url 'web:update_detail' updates.id %}"><img
                                        src="{{updates.update_image.url}}" alt="Image Not Found" /></a>
                                <div class="date">
                                    <strong>{{updates.day}}</strong>
                                    <span>{{updates.month}}</span>
                                </div>
                            </div>
                            <div class="info">
                                <h3 class="title">
                                    <a href="{% url 'web:update_detail' updates.id %}">{{updates.update_head}}</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <!-- End Blog -->
</body>
<style>
    video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .banner_content {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 10px;
    line-height: 1;
    }

    .home {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        /* Adjust as needed */
    }

    .home-content {
        text-align: center;
        z-index: 1;
    }

   

    .button {
        margin-top: 20px;
        /* Adjust as needed */
    }

    @media only screen and (min-width: 320px) and (max-width: 576px) {
        .banner_content {
            font-size: 30px;
            font-weight: 900;
            margin-bottom: 7px;
            line-height: 1;

        }
    }

    @media (max-width: 576px) {

        .home {
            height: 60vh;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

        }

        .home-content {
            text-align: center;
            color: white;
            z-index: 1;
        }


    video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
</style>
{% endblock %}