{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Chirayil Agro Gardens">
    <!-- ========== Page Title ========== -->
    <title>Chirayil Agro Gardens</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="{% static 'web/img/favicon.png' %}" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="{% static 'web/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'web/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'web/css/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'web/css/elegant-icons.css' %}" rel="stylesheet">
    <link href="{% static 'web/css/flaticon-set.css' %}" rel="stylesheet">
    <link href="{% static 'web/css/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'web/css/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'web/css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'web/css/validnavs.css' %}" rel="stylesheet">
    <link href="{% static 'web/css/helper.css' %}" rel="stylesheet">
    <link href="{% static 'web/css/shop.css' %}" rel="stylesheet">
    <link href="{% static 'web/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'web/css/unit-test.css' %}" rel="stylesheet">
    <link href="{% static 'web/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css">

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</head>


{% include 'web/partials/header.html' %}
{% block content %}

{% endblock content %}
{% include 'web/partials/footer.html' %}




    <script src="{% static 'web/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'web/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'web/js/jquery.appear.js' %}"></script>
    <script src="{% static 'web/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'web/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'web/js/modernizr.custom.13711.js' %}"></script>
    <script src="{% static 'web/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'web/js/wow.min.js' %}"></script>
    <script src="{% static 'web/js/progress-bar.min.js' %}"></script>
    <script src="{% static 'web/js/circle-progress.js' %}"></script>
    <script src="{% static 'web/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'web/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'web/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'web/js/count-to.js' %}"></script>
    <script src="{% static 'web/js/jquery.scrolla.min.js' %}"></script>
    <script src="{% static 'web/js/YTPlayer.min.js' %}"></script>
    <script src="{% static 'web/js/TweenMax.min.js' %}"></script>
    <script src="{% static 'web/js/loopcounter.js' %}"></script>
    <script src="{% static 'web/js/validnavs.js' %}"></script>
    <script src="{% static 'web/js/main.js' %}"></script>
    <script src="{% static 'web/js/whatsappform.js' %}"></script>
    <script src="{% static 'web/js/fertilizer.js' %}"></script>
    <script src="{% static 'web/js/medicine.js' %}"></script>
    <script src="{% static 'web/js/cart.js' %}"></script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

</html>
