{% load static %}
<!-- Start Footer 
    ============================================= -->
<footer class="bg-dark text-light" style="background-image: url(web/img/shape/brush-down.png);">
    <div class="container">
        <div class="f-items pt-3 mt-5 pb-5">
            <div class="row">
                <!-- Single Itme -->
                <div class="col-lg-4 col-md-6 item">
                    <div class="footer-item about">
                        <img class="logo" src="{% static 'web/img/logowhite.svg' %}" alt="Logo">
                        <p>
                            At Chirayil Agro Gardens, we take pride in offering top-notch plant garden services that cater to all your gardening needs, our skilled team of horticulturists and landscape experts is here to make your green dreams come true.
                        </p>
                        
                    </div>
                </div>
                <!-- End Single Itme -->

                <!-- Single Itme -->
                <div class="col-lg-2 col-md-6 item">
                    <div class="footer-item link">
                        <h4 class="widget-title">Quick Links</h4>
                        <ul>
                            <li>
                                <a href="{% url 'web:index' %}">Home</a>
                            </li>
                            <li>
                                <a href="{% url 'web:about' %}">About</a>
                            </li>
                            <li>
                                <a href="{% url 'web:shop' %}">Products</a>
                            </li>
                            <li>
                                <a href="{% url 'web:gallery' %}">Gallery</a>
                            </li>
                            
                            <li>
                                <a href="{% url 'web:updates' %}">Updates</a>
                            </li>
                            <li>
                                <a href="{% url 'web:substance' %}">Fertilizer & Medicine</a>
                            </li>
                            <li>
                                <a href="{% url 'web:guide' %}">Buyer's Guide</a>
                            </li>
                            <li>
                                <a href="{% url 'web:contact' %}">Connect</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Single Itme -->

               

                <!-- Single Itme -->
                <div class="col-lg-3 col-md-6 item">
                    <div class="footer-item contact">
                        <h4 class="widget-title">Contact Info</h4>
                        <ul>
                            <li>
                                {% comment %} <div class="icon">
                                    <i class="fas fa-home"></i>
                                </div> {% endcomment %}
                                <div class="content">
                                    <strong>Address:</strong>
                                    Near calicut airport
                                    amarachal, (cherekkad road) chirayil,kondotty, Malappuram, kerala,india 673638
                                </div>
                            </li>
                            <li>
                                {% comment %} <div class="icon">
                                    <i class="fas fa-envelope"></i>
                                </div> {% endcomment %}
                                <div class="content">
                                    <strong>Email:</strong>
                                    <a href="mailto:chirayilgardens@gmail.com">chirayilgardens@gmail.com</a><br>
                                    <a href="mailto:rehmanmody@gmail.com">rehmanmody@gmail.com</a>

                                </div>
                            </li>
                            <li>
                                {% comment %} <div class="icon">
                                    <i class="fas fa-phone"></i>
                                </div> {% endcomment %}
                                <div class="content">
                                    <strong>Phone:</strong>
                                    <a href="tel:8589993015">8589993015</a><br>
                                    <a href="tel:8725800500">8725800500</a>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Single Itme -->
                 <!-- Single Itme -->
                 <div class="col-lg-3 col-md-6 item">
                    <div class="footer-item recent-post">
                        <h4 class="widget-title">Social Media</h4>
                        <ul>
                            <li>
                                <div class="widget social">
                                    <ul class="link">
                                        <li><a href="https://www.facebook.com/profile.php?id=100093315071280&mibextid=ZbWKwL" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="https://instagram.com/chirayil_gardens?igshid=MzRlODBiNWFlZA==" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-youtube" target="_blank"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in" target="_blank"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter" target="_blank"></i></a></li>

                                    </ul>
                                </div>
                            </li>
                            <li>
                               {% comment %} <div class="thumb">
                                    <a href="blog-single-with-sidebar.html">
                                        <img src="{% static 'web/img/thumbs/5.jpg' %}" alt="Thumb">
                                    </a>
                                </div>
                                 <div class="info">
                                    <div class="meta-title">
                                        <span class="post-date">18 Jul, 2022</span>
                                    </div>
                                    <h5><a href="blog-single-with-sidebar.html">Future Plan & Strategy for Consutruction
                                        </a></h5>
                                </div> {% endcomment %}
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Single Itme -->

            </div>

        </div>


        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="row">
                <div class="col-lg-6">
                    <p>&copy; Copyright 2023. All Rights Reserved by Gedexo</p>
                </div>
                {% comment %} <div class="col-lg-6 text-end">
                    <ul>
                        <li>
                            <a href="about-us.html">Terms</a>
                        </li>
                        <li>
                            <a href="about-us.html">Privacy</a>
                        </li>
                        <li>
                            <a href="contact-us.html">Support</a>
                        </li>
                    </ul>

                </div> {% endcomment %}

            </div>



        </div>


        <!-- End Footer Bottom -->
    </div>


    <div class="shape-right-bottom">
        <img src="{% static 'web/img/shape/10.png' %}" alt="Image Not Found">
    </div>
    {% comment %} <div class="shape-left-bottom">
        <img src="{% static 'web/img/shape/11.png' %}" alt="Image Not Found">
    </div> {% endcomment %}
    <a href="https://wa.me/918589993015
    "> <img src="{% static 'web/img/whatsapp-logo-whatsapp-icon-whatsapp-transparent-free-png.webp' %}"
            class="whatsapp-logo" alt=""></a>
    <a href="tel:8589993015"> <img src="{% static 'web/img/3870799.png' %}" class="other-image" alt=""></a>

</footer>
<!-- End Footer -->